<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares Cercanos</h2>
            <a class="btn btn-primary" routerLink="/crear" role="button">Crear nuevo negocio</a>
            <ul class="list-group">
                <ng-container *ngFor="let lugar of lugares | async">
                    <!-- <li class="list-group-item"><a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action:'edit',reference:'google'}">{{lugar.name}}</a></li> -->
                    <li class="list-group-item"><a routerLink="/detalle/1" [queryParams]="{action:'edit',reference:'google'}">{{lugar.name}}</a></li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Destacados</h2>
        </div>
    </div>
</div>