<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br><h2>Lugares Cercanos</h2><br>
            <a class="btn btn-primary" routerLink="/crear/new" role="button">Crear nuevo negocio</a>
            <hr>
            <ul class="list-group">
                <ng-container *ngFor="let lugar of lugares">
                    <li class="list-group-item">
                        <a routerLink="/crear/{{lugar.id}}" [queryParams]="{action:'edit',reference:'google'}"><h5>{{lugar.name | uppercase}}</h5></a>
                        <br><small><b>Creado:</b> &nbsp; {{lugar.id | date:'medium'}}</small>
                    </li>                    
                </ng-container>
            </ul>
        </div>
        <div class="col-md-6">
            <br><h2>Destacados</h2><br>
        </div>
    </div>
</div>