
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="lugares">Inicio</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="contacto">Contacto</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end" *ngIf="!loggedIn">
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="registro">Registro</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end" *ngIf="loggedIn">
            <li class="nav-item">
                <span class="navbar-text">{{loggedEmail}}</span>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" (click)="signOff()">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>



<!-- <ul>
    <li appResaltar="pagado">AAAAAAAAAAAAA</li>
    <li>BBBBBBBBBBBBB</li>
    <li>CCCCCCCCCCCCC</li>
    <li>DDDDDDDDDDDDD</li>
    <li>EEEEEEEEEEEEE</li>
</ul>

<hr>

<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

<p [appHighlight]="color" defaultColor="violet">
    Highlight me too!
</p>

<hr>

<a appContarClicks>Mis Clicks</a> -->